body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 50px auto;
  max-width: 650px;
}

.units.active {
  cursor: pointer;
  color: #0d6efd;
}

#forecast img {
  width: 70px;
}

#forecast strong {
  font-size: 18px;
}

.card-footer {
  text-align: left;
}
